tmux-server-*
tmux-client-*
.uuid
.netrwhist
fish/.config/fish/fish_variables
fish/.config/fish/completions/
nvim/.config/nvim/plugged
!vscode/.config/VSCodium/User/settings.json
vscode/.config/VSCodium/
systemd/.config/systemd/user/default.target.wants/
*.out
**.bak
