[Unit]
Description=udiskie daemon

[Service]
Type=simple
ExecStart=/usr/bin/udiskie --appindicator --smart-tray
Restart=always

[Install]
WantedBy=default.target
